.orders {
    font-family: "Montserrat", sans-serif;
}

.content-order {
    margin-left: 20%;
    background: #e5e5e5;
    min-height: 100vh;
}

.status-order {
    background-color: white;
    margin: 20px;
    padding: 30px 70px;
    border-radius: 10px;
}

.status-order ul {
    display: flex;
    column-gap: 60px;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 20px;
}

.status-order ul li {
    font-weight: 700;
}

.status-order ul li a:hover {
    color: #66b032;
}

.status-order ul li>.all-order {
    border-bottom: 1px solid #66b032;
    padding-bottom: 22px;
}

.status-order .input-search {
    display: flex;
    border: 1px solid #c4c4c4;
    width: 520px;
    height: 40px;
    border-radius: 10px;
}

.status-order .input-search input {
    width: 85%;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;
}

.status-order .input-search button {
    width: 15%;
    background: #66b032;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-filter {
    width: 350px;
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    display: flex;
}

.input-filter input {
    width: 85%;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 20px;
}

.input-filter button {
    width: 15%;
    background: #66b032;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #66b032;
    background-color: #F0F7D4;
}

.action:hover .dropdown-content {
    display: block;
}