* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    border: 1px solid #4F693D;
    box-sizing: border-box;
    height: 40px;
    width: 725px;
    border-radius: 10px;
    margin: 50px 44px;
}

    .box input {
        text-align: left;
        margin-left: 15px;
        margin: 10px;
    }

    .box p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.02em;
        text-align: center;
    }

.gradient-button {
    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    border: none;
    margin-left: 620px;
}

    .gradient-button:hover {
        /*        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
        /*        margin: 8px 10px 12px;*/
    }

.gradient-button-2 {
    /*   background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)*/
    background-image: linear-gradient(to left, #66B032 44.5%, #B8E866 100%);
}


    .gradient-button-2:hover {
        background-position: right center;
    }
