@import url('./header/header.css');
@import url('./footer/footer.css');
@import url('CSS/StyleTrangChu.css');
@import url('CSS/StyleThanhToanATM.css');
@import url('CSS/StyleThanhToan.css');
@import url('CSS/StyleBlog.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('CSS/StyleTrangSanPham.css');
@import url('CSS/StyleTrangLienHe.css');
@import url('CSS/StyleChiTietSP.css');

.fixed {
    width: 100%;
    z-index: 1000;
}

.cart-icon {
    cursor: pointer;
}
